body{
    margin: 0;
    height: 100vh;
    padding: 0;
    background: 
    radial-gradient(
      farthest-side at top left,
      #1B1834, 
      transparent 
    ),
    radial-gradient(
      farthest-side at top right,
      #dc19779f, 
      transparent 500px
    ),
    radial-gradient(
      farthest-side at bottom right,
      #42f4fa93, 
      transparent 
    ),
    radial-gradient(
      farthest-corner at bottom left,
      #DC1976, 
      transparent 
    );
    overflow-x: hidden;
}
main{
    display: flex;
}
main>img{
    width: 60%;
    height: 680px;
    margin-top: 50px;
    margin-left: 50px;
    mix-blend-mode: color-burn;
    border-radius: 30px;
}

.form-box{
    width: 420px;
    height: 670px;
    border: #00000091 solid 1px;
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
    border-radius: 30px;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px auto 15px auto;
    position: relative;
    box-shadow: 0 0 20px 3px #81416D;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    color: #f1f1f1;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 40px;
    background: linear-gradient(to right, #D71E78,#81416D);
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    top:100px;
    position: absolute;
    width: 320px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #293b52;
    outline: none;
    background: transparent;
}
span{
    font-size: 13px;
}
#signin-btn,#signup-btn{
    margin-top: 30px;
    margin-bottom: 10px;
}
p{
    text-align: center;
}
.submit-btn{
    width: 95%;
    height: 45px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    margin-top: 5px;
    background: linear-gradient(to right, #D71E78,#81416D);
    border: 0;
    outline: none;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

#oAuth{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.google-btn,.github-btn{
    width: max-content;
    height: max-content;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right, #D71E78,#81416D);
    border: 0;
    outline: none;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}
.google-btn img,.github-btn img{
    width: 20%;
    position: relative;
    padding: 10px;
}
.google-btn span,.github-btn span{
    position: relative;
    font-size: 20px;
    top: -15px;
}
.checkbox{
    position: relative;
    top: 2px;
}
.spans{
    color: #242424;
    font-size: 12px;
    margin-left: 5px;
}
#signin{
    left: 50px;
}
#signup{
    left: 450px;
}
#signup a{
    color: #004aad;
}


.popup{
    position: absolute;
    background-color: rgba(36, 35, 35, 0.685);
    backdrop-filter: blur(25px);
    height: 684px;
    width: 430px;
    border-radius: 30px ;
    text-align: center;
 
    top: 0%;
    left: 80.6%;
    transform: translate(-50% , -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s , top 0.4s;
    border: #e2e2e2 1px solid;
 }
 .openpopup{
    visibility: visible;
    top: 52.4%;
    transform: translate(-50% , -50%) scale(1);
 }
 .popup>h1{
    padding-top: 50px;
    font-family: serif;
    font-size: 50px;
    color: white;
    margin-top: 0px;
    margin-bottom: 50px;
 }
 .popup h3{
    font-family: serif;
    font-size: 30px;
    color: white;
    margin-bottom: 50px;
 }
 #otp{
    font-size: 30px;
 }
 #otpInput input{
    width: 50px;
    height: 50px;
    font-size: 50px;
    text-align: center;
    border: 0px;
    outline: none;
 }
 input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 #otpButton{
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: block;
    background: linear-gradient(to right, #D71E78,#81416D);
    border: 0;
    outline: none;
    border-radius: 15px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    margin: auto;
    margin-top: 20px;
 }

 .popup-open {
    backdrop-filter: blur(55px);
  }

  .lds-roller {
    display: inline-block;
    position: relative;
    top: 40%;
    width: 80px;
    height: 80px;
  }
  .lds-roller>span{
    color: white;
    position: relative;
    top: 100px;
    left: -40px;
    font-size: 50px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  #eye{
    position: relative;
    top: -55px;
    left: 90%;
    width: 25px;
}
#eye>ion-icon{
    display: block;
    width: 25px;
    height: 25px;
    cursor: pointer;
}
#eye>ion-icon:nth-child(1){
    display: none;
}

  /* for lerger screen */
@media (min-width:1585px) {
    body{
        width: 1585px ;
        margin: auto;
    }
}

.toast {
    visibility: hidden;
    position: absolute;
    top: 10px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  }
  
  .toast.active {
    transform: translateX(0%);
  }
  
  .toast .toast-content {
    display: flex;
    align-items: center;
  }
  
  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #4070f4;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
  }
  .toast-content  .uncheck{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #f44040;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
  }
  
  .toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
  }
  
  .message .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
  }
  
  .message .text.text-1 {
    font-weight: 600;
    color: #333;
  }
  
  .toast .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
  }
  
  .toast .close:hover {
    opacity: 1;
  }
  
  .toast .progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
  
  }
  
  .toast .progress:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
  }
  
  .progress.active:before {
    animation: progress 5s linear forwards;
  }
  
  @keyframes progress {
    100% {
      right: 100%;
    }
  }
  