body {
    font-family: sans-serif;
  }
  
  h1 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  li {
    margin-bottom: 1rem;
  }
  
  #skill-list input {
    margin-right: 1rem;
  }
  
  #skill-list label {
    cursor: pointer;
  }
  
  #skill-detail-list li {
    border: 1px solid black;
    padding: 1rem;
  }
  